* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h3 {
    margin-top: 10px;
    text-align: center;
}

#playerTurn {
    color: #0066ff;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
}

img {
    width: 200px;
}

#gameBoard {
    background-color: #fff;
    border: 1px solid #000;
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    cursor: pointer;
}

.grid-item {
    border: 1px solid #000;
}

.grid-item:hover {
    background-color: #d3d3d3;
}

.score {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}